.dropdown-custom {
    transform: translate3d(0px, 0px, 0px);
    min-width: 100px;
    transition: box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
}

.home--content__wrap {
    &.list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &.tiles {
        display: flex;
        flex-direction: revert;
        justify-content: unset;
        align-items: flex-start;
        flex-grow: 1;
    }
}

.list {
    &--view__type {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.dropdown-toggle--profile {
    margin-left: 10px;

    &::after {
        vertical-align: baseline !important;
    }
}

.dropdown-custom-item {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}